*{box-sizing: border-box;}

#openButton {
  background-color: aquamarine;
}

#closeButton {
  background-color: coral;
}

#dialogBox{
  background-color: violet;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
