:root {
  /* Fonts */
  --title-font: "Lobster", sans-serif;
  --h2-font: "Noto Sans", sans-serif;
  --main-font: "Roboto", sans-serif;
  /* Colors */
  --black: #000000ff;
  --van-dyke: #4F4444ff;
  --black-2: #010000ff;
  --engineering-orange: #D40000ff;
  --redwood: #9B554Dff;
  --black-3: #010000ff;
  --moonstone: #5B9CA0ff;
  --moonstone-2: #06B1CAff;
}

header {
  display: grid;
  grid-template-columns: 44px auto auto 44px;
  align-items: end;
}

header img{
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

header button{
  grid-column: 4/5;
}

#animateme{
  grid-column: 1/-1;
}

#myButton::before {
  content: "\2630";
  color: var(--van-dyke);
}

#myButton {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--engineering-orange);
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: .25rem 2vw;
}

.menu {
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: var(--van-dyke);
  text-align: center;
}

.menu button {
  padding: 0.5rem 1rem;
  font-weight: 700;
}

ul.menuLinks li a {
  display: flex;
  padding: .75rem 2vw;
  color: #fff;
  text-decoration: none;
}

ul.menuLinks {
  list-style-type: none;
}

li.current-menu-item a {
  background-color: rgba(0, 0, 0, 0.25);
}

ul.menuLinks a:hover {
  background-color: rgba(225, 225, 225, 0.25);
}

#myButton.open::before {
  content: "\2612";
  color: var(--redwood);
}

nav#animateme {
  display: grid;
  background-color: var(--van-dyke);
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

nav ul {
  overflow: hidden;
}

nav#animateme.open {
  grid-template-rows: 1fr;
}

body {
  font-family: var(--main-font);
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.75);
  border: 2px solid var(--redwood);
  border-radius: 10px;
}

img {
  border-radius: 5%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
}

header {
  background-color: var(--moonstone);
  padding: 20px;
  text-align: center;
}

h1 {
  color: var(--black);
}

h2 {
  color: var(--black-2);
  text-align: center;
}

p {
  font-family: var(--main-font);
  color: var(--black-3);
  line-height: 1.6;
  text-align: center;
}

section {
  margin: 10px 0;
  border-radius: 5%;
  padding: 10px;
}

a {
  color: var(--engineering-orange);
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

.grid section {
  text-align: center;
}

.grid section > * {
  margin: 0.1rem;
}

.grid img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 340px;
  width: 100%;
  height: auto;
  border: 1px solid var(--moonstone-2);
  box-shadow: 0 0 1rem var(--redwood);
}

.list {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
}

.list section > * {
  margin: 0 1rem;
}

.list img {
  display: none;
}

.list h3 {
  font-size: 1rem;
}

.list section:nth-child(even) {
  background-color: rgba(91, 156, 160, 0.3);
}

.highlight {
  font-weight: 700;
  color: var(--black);
}

footer.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--moonstone);
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  gap: 1rem;
}

.footer-info {
  width: 100%;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-right img {
  display: none;
}

.social-icons img{
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 0%;
  box-shadow: none;
}

#current-year {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#lastModified {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: center;
}