:root {
  --primary-color:#333333;
  --secondary-color: #000000;
  --third-color:#CCCCCC; 
  --fourth-color:#FFFFFF;
  --font-family: "Roboto";
  --font-family2:"Lato";
}

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #000000;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
  
body{
  font-family: var(--font-family), var(--font-family2);
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}

header{
  border-radius: 10px;
  background-color: var(--primary-color);
}

h1{
  color: var(--fourth-color);
  margin: 15px;
}

nav{
  background-color: var(--secondary-color);
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

nav a{
  color:var(--fourth-color);
}

a{
  text-decoration: none;
  color: inherit;
}

nav a:hover{
  color: var(--primary-color);
}

.card a:hover{
  color: var(--fourth-color);
}

main{
  background-color: var(--fourth-color);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "main-card main-card web-aside";
  gap: 1vh;
}

#title{
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile{
  border-radius: 50%;
}

.card{
  border-radius: 10px;
}

.card h2{
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--fourth-color);
}

#main-card{
  background-color: var(--third-color);
  grid-area: main-card;
  padding: 1vh;
}
#main-card p{
  text-align: justify;
  padding: 30px;
}

#main-card #family{
  width: 50%;
  height: auto; /* Maintain aspect ratio based on width */
  aspect-ratio: 16 / 9;  /* For a 16:9 aspect ratio */
  object-fit: cover; /* or contain, depending on your needs */
  border-radius: 5px;
}

#main-card #mexico-flag{
  width: 100%;
  height: auto; /* Maintain aspect ratio based on width */
}

.styled-hr {
  border: none;
  height: 10px; 
  background-color: var(--primary-color); 
  margin: 20px 0; 
  border-radius: 5px;
}

.mexico-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.mexico{
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
}

.mexico-info p {
  grid-column: 2/3;
}

figcaption{
  font-family: var(--font-family2);
  font-style: italic;
  font-size: 0.75rem;
}

#web-aside{
  background-color: var(--third-color);
  grid-area: web-aside;
  padding: 1vh;
}

#web-aside ul{
  text-align: end;
}

#web-aside li{
  padding: 10px;
}

.highlight{
  color: var(--fourth-color);
  font-weight: 700;
}

footer{
  background-color: var(--primary-color);
  color: var(--third-color);
  border-radius: 0 0 10px 10px;
}

/* larger Views */
@media (min-width:640px) {
  nav ul{
    display: flex; 
  }

  nav ul li{
    flex: 1 1 auto;
  }
}

/* small views */

@media (max-width:640px) {
  
  /* Dark Theme */
  .dark-theme {
  --main-bg-color: #000000;
  --main-text-color: #ffffff;
  }
  
  main{
    display: block;
  }

  .card{
    margin: 10px;
  }

  #web-aside ul{
    text-align: center;
    padding: 0%;
  }
  .mexico-info{
    display: block;
  }
}
